<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse" style = 'width: 100%; background-color: #111111;'>
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to "New Request", new_request_path %></li>
          <li><%= link_to "View All Requests", requests_path %></li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
